bio==1.5.2
defusedxml==0.7.1
lxml==4.9.1
mdanalysis==2.3.0
requests==2.28.1
biopython==1.79
scipy==1.9.3
matplotlib==3.6.2
pdb-tools==2.5.0
pandas==1.5.2
openpyxl==3.0.10
plotly==5.11.0
pdbecif==1.5
jsonpickle==3.0.1
