name: ci

on: push

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - uses: snok/install-poetry@v1
        with:
          version: 1.3.2
          virtualenvs-create: true
          virtualenvs-in-project: true

      - run: poetry install --no-interaction --no-root

      - name: Run sanity check on the API endpoints
        run: poetry run pytest -m sanity -vvv

      - name: Test
        run: poetry run pytest -m "not sanity" --cov=./ --cov-report=xml -v

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml

      # - uses: codecov/codecov-action@v3
      #   with:
      #     fail_ci_if_error: false
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     files: ./coverage.xml
